.footer {
    // .footer__container

    &__container {
        height: 100%;
    }

    // .footer__body

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 16px;
    }

    // .footer__content

    &__content {
        margin-bottom: 100px;

        @media (max-width: 992px) {
            margin-bottom: 40px;
        }

        a {
            display: block;
            width: fit-content;
        }
    }

    .breif-link {
        position: relative;
        top: -6px;
        height: fit-content;
        width: fit-content;
        grid-column: span 2;
        white-space: nowrap;
        font-family: Arial;
        letter-spacing: -1px;
        text-transform: uppercase;
        @include adaptive-value("font-size", 66, 24, 1);
        display: block;

        @media (max-width: 992px) {
            margin-bottom: 40px;
        }

        &._underline {
            &:before {
                @media (any-hover: none) {
                    background-color: $black;
                }
            }
        }
    }

    nav {
        @media (max-width: 992px) {
            margin-bottom: 40px;

            & + .grid {
                display: flex;
                flex-direction: column;
            }
        }

        ul {
            & > :not(:last-child) {
                margin-bottom: 8px;
            }

            a {
                transition: opacity 0.3s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    // .footer__contacts

    &__contacts {
        display: flex;
        flex-direction: column;

        div {
            grid-column-start: 3;
        }

        a {
            width: fit-content;
            white-space: nowrap;
            display: block;
            transition: opacity 0.3s ease 0s;
            border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);
            padding-bottom: 2px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            @media (max-width: 768px) {
                font-size: 14px;
            }

            @media (any-hover: hover) {
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .address {
        cursor: default;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    // .footer__logo

    &__logo {
        @include adaptive-value("margin-top", 300, 100, 1);

        position: relative;
        display: flex;
        align-items: flex-end;
        height: auto;

        svg {
            display: block;
            max-width: none;
            height: auto;
            flex: 0 0 auto;

            path {
                fill: $black;
                transform: translate(0, 150%);
            }
        }
    }

    ._social-buttons {
        height: fit-content;

        @media (min-width: 993px) {
            flex-direction: column;
        }

        @media (min-width: 993px) {
            margin-left: auto;
        }

        @media (max-width: 992px) {
            margin-top: 20px;
        }

        .back {
            fill: $black;
        }

        .icon {
            fill: $white;
            transition: transform 0.3s ease 0s;
        }

        a {
            width: 40px;
            height: 40px;
            display: block;
            transition: opacity 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}
