.footer {
    height: 80vh;

    // .footer__container

    &__container {
        height: 100%;
    }

    // .footer__body

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 50px;
    }

    // .footer__content

    &__content {
        .breif-link {
            position: relative;
            top: -6px;
            height: fit-content;
            width: fit-content;
            grid-column: span 2;
            white-space: nowrap;
            font-family: Arial;
            letter-spacing: -1px;
            text-transform: uppercase;
            @include adaptive-value("font-size", 66, 24, 1);

            @media (max-width: 992px) {
                margin-bottom: 50px;
            }
        }
    }

    // .footer__contacts

    &__contacts {
        display: flex;
        flex-direction: column;

        a {
            width: fit-content;
            white-space: nowrap;
            display: block;
            opacity: 0.5;
            transition: opacity 0.3s ease 0s;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);
            padding-bottom: 2px;

            @media (max-width: 768px) {
                font-size: 14px;
            }

            @media (any-hover: hover) {
                &:hover {
                    opacity: 1;
                }
            }
        }

        div {
            margin-bottom: 100px;

            @media (max-width: 992px) {
                margin-bottom: 20px;
            }

            a {
                opacity: 1;
            }
        }
    }

    // .footer__logo

    &__logo {
        position: relative;
        display: flex;
        align-items: flex-end;
        height: fit-content;

        svg {
            display: block;
            width: 100%;
            height: fit-content;

            path {
                fill: $black;
                transform: translate(0, 150%);
            }
        }
    }

    ._social-buttons {
        height: fit-content;

        @media (min-width: 993px) {
            margin-left: auto;
        }

        @media (max-width: 992px) {
            margin-bottom: 50px;
        }

        .back {
            fill: $black;
        }

        .icon {
            fill: $white;
            transition: transform 0.3s ease 0s;
        }

        a {
            width: 40px;
            height: 40px;
            display: block;
            transition: opacity 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}
