.brief {
    @include adaptive-value("margin-top", 200, 150, 1);

    // .brief__container

    &__container {
    }

    // .brief__body

    &__body {
        ._small {
            position: sticky;
            top: 70px;

            @media (max-width: 1024px) {
                position: static;
                margin-bottom: 40px;
            }

            @media (max-width: 425px) {
                font-size: 19px;
            }
        }
    }

    .form {
        width: 60%;
        overflow: hidden;
        margin-left: auto;

        @media (min-width: 1025px) {
            @include adaptive-value("padding-left", 100, 50, 1);
        }

        &:before {
            background-position: center 90%;

            @media (min-width: 1025px) {
                @include adaptive-value("left", 100, 50, 1);
                right: 0;
                width: auto;
            }
        }

        @media (max-width: 1024px) {
            padding-left: 0;
            width: 100%;
        }

        // .form__rows

        &__rows {
            // .form__rows-item

            &-item {
                @include adaptive-value("margin-bottom", 100, 50, 1);

                h3 {
                    @include adaptive-value("margin-bottom", 50, 30, 1);
                }
            }

            // .form__rows-content

            &-content {
                display: flex;
                justify-content: space-between;
                margin-bottom: 50px;

                @media (max-width: 600px) {
                    display: block;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    @include adaptive-value("font-size", 18, 16, 1);
                    line-height: 130%;
                    color: #ffffff;
                    max-width: 400px;
                    width: 100%;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @media (max-width: 425px) {
                        max-width: 100%;
                    }

                    img {
                        height: 1.2em;
                    }
                }
            }

            .form__rows-left {
                margin-right: 50px;

                @media (max-width: 600px) {
                    margin-right: 0;
                    @include adaptive-value("margin-bottom", 50, 30, 1);
                }
            }

            .form__rows-left,
            .form__rows-right {
                width: 100%;
                position: relative;
            }
        }

        // .form__input

        &__input {
            margin-bottom: 25px;

            // form__input-file

            &-file {
                border-bottom: unset;

                .file-label {
                    @include adaptive-value("margin-bottom", 20, 15, 1);
                    font-weight: 400;
                }

                .file-input {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    width: 100%;

                    // .file-input__body

                    &__body {
                        border-bottom: 1px solid #fff;
                        padding-bottom: 5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    img {
                        margin-right: 20px;
                        height: 1.2em;
                    }

                    input {
                        display: none;
                    }

                    span {
                        display: block;
                        max-width: 50%;
                        margin-left: 20px;
                        @include adaptive-value("font-size", 12, 10, 1);
                        word-break: break-all;
                    }
                }
            }
        }
    }
}

.answer {
    position: absolute;
    left: 0;
    top: -50px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #222222;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease 0s;

    &._active {
        opacity: 1;
        visibility: visible;
        top: -60px;
    }
}