.protfolio-card {
    display: block;

    // .protfolio-card__img

    &__img {
        overflow: hidden;
        width: 100%;
        position: relative;
        pointer-events: none;
        height: 90vh;

        @media (max-width: 992px) {
            height: 70vh;
        }

        @media (max-width: 768px) {
            height: 50vh;
            min-height: 320px;
        }

        img,
        iframe,
        video {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        ._video {
            object-position: right bottom;
        }
    }

    // .protfolio-card__info

    &__info {
        pointer-events: none;

        h3 {
            text-transform: capitalize;
        }

        p {
            opacity: 0.5;
            margin-bottom: 40px;
            @include adaptive-value("margin-top", 20, 16, 1);
            max-width: 50%;
            width: 100%;
            font-size: 14px;
            line-height: 1.2;

            @media (max-width: 768px) {
                max-width: none;
                margin-bottom: 60px;

                br {
                    display: none;
                }
            }
        }

        ol {
            @media (max-width: 992px) {
                display: grid;
            }

            li {
                font-size: 10px;
                color: $black;
                line-height: 1;
                text-transform: uppercase;
                font-family: JetBrainsMono;
            }

            & > :last-child {
                opacity: 0.5;
            }
        }

        padding-top: 20px;
        padding-bottom: 8px;
    }
}

.service-card {
    @include adaptive-value("padding-top", 60, 40, 1);
    @include adaptive-value("padding-bottom", 60, 40, 1);

    // .service-card__column

    &__column {
        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 992px) {
            &.grid-4 {
                display: grid;
            }
        }
    }

    // .service-card__numb

    &__numb {
        font-family: JetBrains Mono;
        font-size: 12px;

        @media (max-width: 500px) {
            position: absolute;
            top: -2em;
        }
    }

    // .service-card__price

    &__price {
        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: all 0.3s ease 0s;

        @media (max-width: 1024px) and (min-width: 501px) {
            max-width: 50%;
            margin-left: auto;
        }

        @media (max-width: 1024px) {
            margin-top: 40px;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 5px;

            span,
            label {
                display: block;
                @include adaptive-value("font-size", 16, 14, 1);
                font-weight: 400;
            }

            span {
                color: rgba($color: $black, $alpha: 0.5);
            }
        }
    }

    ._title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        height: fit-content;
        position: relative;

        @media (any-hover: hover) {
            &:hover {
                svg {
                    transform: rotate(-45deg);
                }
            }
        }

        @media (max-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        ._mobile-show {
            margin-left: unset !important;
        }

        button {
            @media (max-width: 1024px) and (min-width: 501px) {
                position: absolute;
                right: 16px;
            }

            @media (max-width: 500px) {
                margin-left: auto;
            }
        }
    }

    // .service-card__content

    &__content {
        grid-column: span 2;

        h4 {
            @include adaptive-value("font-size", 34, 18, 1);
            pointer-events: none;
            line-height: 1;
            white-space: nowrap;
        }

        svg {
            width: 40px;
            height: 40px;
            transition: all 0.3s ease 0s;

            @media (max-width: 768px) {
                width: 24px;
                height: 24px;
            }
        }
    }

    // .service-card__bottom

    &__bottom {
        h5 {
            @include adaptive-value("font-size", 20, 16, 1);
            line-height: 1.2;
            letter-spacing: -0.5px;
            text-transform: math-auto;

            @media (max-width: 992px) {
                max-width: 85%;
                width: 100%;
            }

            @media (max-width: 370px) {
                max-width: 90%;
                font-size: 14px !important;
            }
        }

        .accordion {
            margin-top: 40px;

            & > :first-child {
                border-top: 1px solid rgba($color: $black, $alpha: 0.2);
            }
        }

        .accordion__item {
            border-bottom: 1px solid rgba($color: $black, $alpha: 0.2);
        }

        .accordion__item-title {
            padding: 10px 0;

            &.grid-2 {
                @media (max-width: 1024px) {
                    display: grid;
                }
            }

            span,
            label {
                pointer-events: none;
                white-space: nowrap;
                @include adaptive-value("font-size", 16, 14, 1);
                color: rgba($color: $black, $alpha: 0.5);
                @media (max-width: 370px) {
                    font-size: 12px !important;
                }
            }

            span {
                @media (max-width: 425px) {
                    width: 30%;
                }
            }

            label {
                @media (max-width: 425px) {
                    width: 50%;
                }
            }

            div {
                @media (min-width: 426px) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }

                @media (max-width: 425px) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                button {
                    @media (min-width: 426px) {
                        margin-left: auto;
                    }
                }
            }

            &._bold {
                div {
                    span,
                    label {
                        color: $black;
                    }
                    @media (max-width: 1280px) {
                        display: flex;
                        align-items: center;

                        span {
                            display: block;
                            width: 33%;
                        }
                    }

                    @media (max-width: 425px) {
                        gap: 7px;
                        justify-content: start;
                    }
                }

                span {
                    @media (max-width: 425px) {
                        width: 25%;
                    }
                }
                span,
                label {
                    @include adaptive-value("font-size", 20, 14, 1);
                    @media (max-width: 370px) {
                        font-size: 12px !important;
                    }
                }
            }

            svg {
                width: 20px;
                height: 20px;

                @media (max-width: 500px) {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .accordion__item-content-height {
            &.grid-2 {
                @media (max-width: 1024px) {
                    display: grid;
                }

                @media (max-width: 425px) {
                    display: block;
                }
            }

            div {
                margin: 20px 0 30px 0;
                display: flex;
                flex-direction: column;
                gap: 15px;
                grid-column-start: 2;

                @media (max-width: 425px) {
                    gap: 10px;
                }

                p {
                    color: rgba($color: $black, $alpha: 0.5);
                    font-weight: 400;
                    line-height: 1.4;
                    @include adaptive-value("font-size", 16, 14, 1);

                    @media (max-width: 370px) {
                        font-size: 12px !important;
                    }
                }
            }
        }

        ._btn {
            margin-top: 40px;
        }
    }

    ._short-descr {
        @media (max-width: 1024px) and (min-width: 501px) {
            max-width: 50%;
            margin-left: auto;
        }
    }

    // .services-card__descr

    &__descr {
        max-width: 340px;
        width: 100%;
        margin-top: 40px;

        @media (max-width: 768px) {
            max-width: 85%;
        }
    }

    .service-card__box {
        overflow: hidden;
        max-height: 0;
        height: auto;
        transition: all 0.3s ease 0s;
    }

    &._active {
        ._title {
            svg {
                transform: rotate(-45deg);
            }
        }
        .service-card__box {
            overflow: visible;
            max-height: 100%;
        }
    }

    .service-btn {
        @media (max-width: 1024px) and (min-width: 501px) {
            max-width: 50%;
            margin-left: auto;
        }
    }
}

.process-card {
    padding: 40px 0;

    @media (max-width: 992px) {
        display: grid;
    }

    @media (max-width: 1024px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px 0;
    }

    // .process-card__numb

    &__numb {
        font-size: 12px;
        line-height: 1;
        font-family: JetBrainsMono;

        margin-top: auto;
        margin-bottom: auto;

        @media (max-width: 1024px) {
            width: calc(100% - 70px);
        }
    }

    // .process-card__svg

    &__svg {
        margin-left: auto;

        svg {
            fill: none;
            width: 100px;
            height: 100px;

            @media (max-width: 1024px) {
                width: 70px;
                height: 70px;
            }

            @media (max-width: 425px) {
                width: 50px;
                height: 50px;
            }

            stroke-dashoffset: 1000;
            transition: stroke-dashoffset var(--delay) ease 0s;

            &._active {
                stroke-dashoffset: 0;
            }

            stroke: $black;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    // .process-card__name

    &__name {
        margin-top: auto;
        margin-bottom: auto;

        @media (max-width: 1024px) {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    // .process-card__text

    &__text {
        margin-top: auto;
        margin-bottom: auto;

        @media (max-width: 1024px) {
            max-width: 50%;
            width: 100%;
        }

        @media (max-width: 425px) {
            max-width: calc(100% - 60px);
        }
    }
}
