.contacts {
    // .contacts__socialmedias

    &__socialmedias {
        @media (min-width: 1025px) {
            margin-top: 50px;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 210px;
        max-width: 210px;
        width: 100%;

        @media (max-width: 768px) {
            min-width: 150px;
            max-width: 150px;
        }

        li {
            a {
                margin: 0;
                border: unset;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 2px 2px 4px 0px rgb(255 255 255 / 30%);

                img {
                    margin: 0;
                }
            }
        }
    }
}
