.contacts {
    // .contacts__container

    &__container {
    }

    // .contacts__body

    &__body {
        h2 {
            margin-bottom: 30px;

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
        }
    }

    // .contacts__flex

    &__flex {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;
        }

        h2 {
            margin-bottom: 30px;

            @media (max-width: 1024px) {
                br {
                    display: none;
                }
            }
        }
    }

    // .contacts__info

    &__info {
        width: 47.5%;

        @media (max-width: 1024px) {
            width: 100%;
        }

        // .contacts__info-column

        &-column {
            @media (max-width: 1024px) {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
            }

            @media (max-width: 425px) {
                flex-direction: column;
            }

            div {
                margin-bottom: -20px;
                & > :not(:last-child) {
                    @include adaptive-value("margin-bottom", 20, 15, 1);
                }

                & > :last-child {
                   
                      @include adaptive-value("font-size", 17, 15, 1);
                }

                a {
                    max-width: 210px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-style: normal;
                    font-weight: 300;
                    @include adaptive-value("font-size", 18, 16, 1);
                    line-height: 1.2;
                    text-transform: lowercase;
                    color: #fff;

                    padding-bottom: 5px;
                    border-bottom: 1px solid #fff;

                    img {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

.home__contacts {
    p {
        @include adaptive-value("margin-bottom", 50, 30, 1);
    }

    .contacts__info-column {
        @media (max-width: 1024px) {
            display: none;
        }
    }
}
