.footer {
    padding-top: 10px;
    border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
    position: relative;

    // .footer__container

    &__container {
    }

    // .footer__body

    &__body {
    }

    // .footer__bottom

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        padding-bottom: 10px;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            height: 100%;
            width: 100vw;
            left: 50%;
            transform: translate(-50%, 0);
            background-color: #222222;
            z-index: 0;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }

        & > :not(:last-child) {
            @media (min-width: 769px) {
                @include adaptive-value("margin-right", 80, 40, 1);
            }

            @media (max-width: 768px) {
                margin-bottom: 15px;
            }
        }

        a,
        span {
            position: relative;
            z-index: 1;
            font-style: normal;
            font-weight: 300;
            @include adaptive-value("font-size", 16, 14, 1);
            line-height: 1.2;
            display: flex;
            align-items: center;
            color: #ffffff;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 500px) {
                text-align: center;
            }
        }
    }
}

.ticker__footer {
    background-color: #fff;
    padding: 5px 0;

    @include adaptive-value("margin-bottom", 100, 50, 1);

    // .ticker__footer-text

    &-text {
        font-style: normal;
        font-weight: 300;
        line-height: 1;
        color: #000;

        @include adaptive-value("font-size", 14, 12, 1);
    }
}
