.section {
    @include adaptive-value("margin-bottom", 200, 100, 1);

    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    // .section__content

    &__content {
    }

    // .section__top

    &__top {
        @include adaptive-value("margin-bottom", 100, 50, 1);

        h2 {
            margin-right: auto;
        }
    }

    // .section__bottom

    &__bottom {
    }
}

.about {
    .section__body {
        @include adaptive-value("padding-bottom", 100, 50, 1);
        border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);
    }

    .section__top {
        @media (min-width: 1025px) {
            position: sticky;
            top: 66px;
        }
    }

    &:has(._btn-big) .section__top {
        @media (min-width: 1025px) {
            @include adaptive-value("margin-bottom", 200, 50, 1);
        }
    }

    .section__bottom {
        div {
            display: flex;
            flex-direction: column;
            @include adaptive-value("gap", 30, 20, 1);
            grid-column-start: 2;
        }
    }

    .big-text {
        margin-bottom: 20px;
    }

    span {
        grid-column: span 2;
    }

    p {
        @include adaptive-value("font-size", 26, 14, 1);
        line-height: 1.3;

        @media (min-width: 769px) {
            width: 75%;
            letter-spacing: -1px;
        }
    }

    ol {
        @include adaptive-value("margin-top", 40, 20, 1);
        gap: 0;

        @media (max-width: 1200px) and (min-width: 993px) {
            display: block;
        }

        @media (max-width: 992px) {
            display: grid;
        }

        @media (max-width: 425px) {
            display: block;
        }

        li {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            @include adaptive-value("min-height", 250, 150, 1);
            padding: 20px;
            gap: 20px;

            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    background-color: $black;
                    color: $white;
                }
            }

            border: 1px solid rgba($color: $black, $alpha: 0.1);

            &:not(:last-child) {
                border-right: 0;

                @media (max-width: 1200px) and (min-width: 993px) {
                    border-bottom: 0;
                    border-right: 1px solid rgba($color: $black, $alpha: 0.1);
                }

                @media (max-width: 425px) {
                    border-bottom: 0;
                    border-right: 1px solid rgba($color: $black, $alpha: 0.1);
                }
            }

            &:last-child {
                @media (any-hover: hover) {
                    &:hover {
                        background-color: $black;
                    }
                }

                label {
                    &:after {
                        background-color: currentColor;
                    }
                }

                @media (any-hover: hover) {
                    &:hover {
                        label:after {
                            animation: border-bottom-in 0.5s cubic-bezier(0.65, 0, 0.35, 1);
                            animation-fill-mode: forwards;
                        }
                    }
                }
            }

            span {
                white-space: nowrap;

                @media (min-width: 1201px) {
                    @include adaptive-value("font-size", 120, 0, 1);
                }

                @media (max-width: 1200px) {
                    @include adaptive-value("font-size", 120, 50, 1);
                }
            }

            label {
                display: block;
                align-self: flex-start;
                @include adaptive-value("font-size", 16, 14, 1);
                opacity: 0.5;

                & + label {
                    opacity: 1;
                }
            }

            a {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                gap: 20px;

                label {
                    opacity: 1;
                }

                svg {
                    fill: transparent;
                    stroke: currentColor;
                    stroke-width: 6px;
                    height: 50%;
                    max-width: 138px;
                }
            }
        }
    }
}

.portfolio {
    .section__bottom {
        gap: 100px 16px;

        @media (max-width: 1024px) {
            gap: 80px 16px;
        }

        @media (max-width: 992px) {
            & > :not(:last-child) {
                margin-bottom: 50px;
            }
        }

        & > :first-child,
        & > :last-child {
            grid-column: span 2;
        }

        & > :nth-child(4n) {
            grid-column: span 2;
        }

        & > :nth-child(8) {
            grid-column: span 1;
        }
    }

    &._pages-portfolio {
        .portfolio-card {
            grid-column: span 3;
            grid-column-end: 5;
        }

        .portfolio-card {
            display: flex;
            gap: 20px;

            @media (max-width: 992px) {
                gap: 0;
                flex-direction: column-reverse;
            }

            // .portfolio-card__img

            &__img {
                height: 400px;

                @media (max-width: 992px) {
                    height: 320px;
                }
            }

            // .portfolio-card__info

            &__info {
                display: flex;
                flex-direction: column;
                height: 100%;
                pointer-events: all;
                padding-top: 0;

                @media (min-width: 993px) {
                    width: calc(50% - 20px);
                }

                @media (max-width: 992px) {
                    padding-top: 16px;
                }

                P {
                    flex: 1 1 auto;
                    max-width: 90%;

                    @media (max-width: 992px) {
                        max-width: 50%;
                    }

                    @media (max-width: 768px) {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

.service-page {
    .service-card__descr {
        margin-top: 0 !important;
    }
}

.designe {
    .section__body {
        position: relative;
    }

    .section__top {
        @media (min-width: 769px) {
            position: absolute;
            top: 50px;
            right: 16px;
            left: 16px;
            z-index: 1;
            text-align: center;
            color: $white;
            mix-blend-mode: difference;

            @media (max-width: 768px) {
                top: 28px;
            }
        }
    }

    h2 {
        @include adaptive-value("padding", 50, 16, 1);
    }

    .grid {
        margin-left: -16px;
        width: 100vw;
    }

    a {
        background-color: $black;
        position: relative;
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: flex-end;
        gap: 20px;
        color: $white;

        @include adaptive-value("padding", 50, 16, 1);

        @media (max-width: 993px) {
            height: 240px;
        }

        @media (any-hover: hover) {
            &:hover {
                svg {
                    opacity: 1;
                }
            }
        }

        img {
            width: fit-content;
        }

        svg {
            @include adaptive-value("width", 80, 40, 1);
            fill: currentColor;

            @media (min-width: 993px) {
                opacity: 0;
                transform: translate(40px, 0);
            }
        }

        &.logo-dprofile {
            @media (min-width: 993px) {
                svg {
                    transform: translate(40px, 0);
                }

                img {
                    transform: translate(-40px, 0);
                }

                @media (any-hover: hover) {
                    &:hover {
                        svg,
                        img {
                            transform: translate(0, 0);
                        }
                    }
                }
            }

            @media (max-width: 992px) {
                flex-direction: row-reverse;
                justify-content: space-between;
                padding-bottom: 32px;
            }
        }

        &.logo-behance {
            border: 1px solid rgba($color: $black, $alpha: 0.1);
            background-color: $white;
            color: $black;
            align-items: flex-start;
            justify-content: flex-end;

            @media (min-width: 993px) {
                svg {
                    transform: translate(-40px, 0);
                }

                img {
                    transform: translate(40px, 0);
                }

                @media (any-hover: hover) {
                    &:hover {
                        svg,
                        img {
                            transform: translate(0, 0);
                        }
                    }
                }
            }

            @media (max-width: 992px) {
                justify-content: space-between;
                padding-top: 32px;
            }
        }
    }

    img,
    svg {
        transition: all 0.3s ease 0s;
        @include adaptive-value("height", 80, 40, 1);
    }

    p {
        position: absolute;
        left: 0px;
        top: 16px;
        font-weight: 300;
    }
}

.process {
    .section__bottom {
        & > :first-child {
            padding-top: 0;
        }
    }
}

.advantages {
    .grid {
        @media (max-width: 1024px) {
            display: block;
        }
    }

    a {
        width: fit-content;
        @media (max-width: 1024px) {
            display: none;
        }
    }

    p {
        margin-bottom: 20px;
        max-width: 480px;
        width: 100%;

        @media (max-width: 1024px) {
            margin-top: 40px;
        }
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: fit-content;
        width: 75%;

        @media (min-width: 1025px) {
            position: sticky;
            top: 66px;
        }

        @media (max-width: 992px) {
            margin-bottom: 20px;
        }
    }

    .right {
        padding-left: 20px;
        border-left: 1px solid $black;
        height: fit-content;

        @media (max-width: 1024px) {
            padding-left: 0;
            border-left: none;
            margin-top: 50px;
        }

        h4 {
            @media (max-width: 768px) {
                font-size: 16px;
            }
        }

        li {
            padding: 40px 0;

            @media (max-width: 1024px) {
                padding: 20px 0;
            }

            h4 {
                text-transform: inherit;

                @media (max-width: 1024px) and (min-width: 425px) {
                    max-width: 80%;
                }

                @media (max-width: 425px) {
                    font-size: 18px;
                }
            }
        }

        & > :first-child {
            padding-top: 0;
        }

        & > :not(:last-child) {
            border-bottom: 1px solid $black;

            @media (max-width: 1024px) {
                border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);
            }
        }
    }
}

.about-page {
    * {
        color: $black;
    }

    .section__body {
        @media (min-width: 993px) {
            gap: 20px;
        }

        @media (max-width: 992px) {
            display: block;
        }
    }

    h1 {
        grid-column-start: 3;
    }

    label {
        grid-column-start: 2;
        margin-top: auto;
        font-size: 12px;
        line-height: 1.4;
        max-width: calc(100% - 20px);
        width: 100%;
        margin-right: 20px;

        @media (max-width: 992px) {
            margin-right: 0;
            @include adaptive-value("margin-top", 80, 40, 1);
        }

        @media (max-width: 425px) {
            br {
                display: none;
            }
        }
    }

    .info-text {
        @media (max-width: 992px) {
            display: flex;
            flex-direction: column-reverse;
        }

        .icon {
            width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: 50%;
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        div {
            grid-column-start: 3;

            @media (max-width: 992px) and (min-width: 768px) {
                display: flex;
                gap: 40px;
            }

            & > :not(:last-child) {
                margin-bottom: 20px;
            }

            p {
                margin: 0;
                max-width: 290px;
                width: 100%;
            }
        }
    }

    .main-text {
        grid-column: span 2;
        grid-column-end: 4;

        margin: 40px 0;
        max-width: none;
        line-height: 1;
        letter-spacing: -0.32px;
        @include adaptive-value("font-size", 32, 20, 1);

        @media (min-width: 993px) {
            text-indent: 50%;
        }

        @media (max-width: 992px) and (min-width: 425px) {
            max-width: 60%;
        }

        @media (max-width: 768px) {
            line-height: 1.2;
        }
    }
}

.breif-page {
    p {
        margin-bottom: 0 !important;
    }
}

.portfolio-page {
    .portfolio-card {
        height: fit-content;
        p {
            max-width: 100%;
        }
    }
}

.info {
    background-color: $black;

    .section__body {
        @include adaptive-value("padding-top", 200, 50, 1);
        @include adaptive-value("padding-bottom", 200, 50, 1);

        & > :not(:last-child) {
            @include adaptive-value("margin-bottom", 40, 20, 1);
        }
    }

    p {
        grid-column: 2;
        grid-column-start: 3;
        grid-column-end: 5;
        color: $white;
        @include adaptive-value("font-size", 34, 14, 1);
        line-height: 1.3;
        font-weight: 300;

        @media (max-width: 992px) and (min-width: 425px) {
            width: 75%;
        }

        @media (min-width: 769px) {
            letter-spacing: -0.5px;
        }
    }
}

.faq {
    @include adaptive-value("margin-bottom", 200, 100, 1);
}

.services-v2 {
    .section__top {
        @media (max-width: 1024px) {
            display: block;
        }
    }

    .swiper {
        @media (max-width: 1920px) {
            width: 100vw;
            margin-left: -16px;
            padding: 0 16px;
        }

        &-slide {
            height: auto;
            max-width: 560px;

            @media (max-width: 1024px) {
                max-width: 480px;
            }

            @media (max-width: 600px) {
                max-width: 75%;
            }
        }
    }
}

.title-indent {
    @media (min-width: 1025px) {
        text-indent: 25%;
    }

    &.max-75 {
        @media (min-width: 1025px) {
            text-indent: 33.07%;
            max-width: 75%;
        }
    }
}

.title-line {
    @media (min-width: 1025px) {
        margin-left: 25%;
    }
}

.grid-left {
    @media (max-width: 1024px) {
        display: block;
    }

    .width-50 {
        @media (max-width: 1024px) and (min-width: 769px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.pagination {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;

    span {
        width: 10px;
        height: 10px;
        flex: 0 0 auto;
        border: 1px solid currentColor;
        border-radius: 50%;
        cursor: pointer;

        background-color: transparent;
        transition: all 0.3s ease 0s;

        &.swiper-pagination-bullet-active {
            background-color: currentColor;
        }
    }
}

.text-medium {
    // @include adaptive-value("font-size", 26, 14, 1);
    @include adaptive-value("font-size", 26, 18, 1);
    letter-spacing: -0.03em;

    & > :not(:last-child) {
        @media (min-width: 1025px) {
            margin-bottom: 20px;
        }

        @media (max-width: 768px) {
            margin-bottom: 1em;
        }
    }

    p {
        font-size: inherit;
    }
}

.text-normal {
    @include adaptive-value("font-size", 20, 14, 1);
    letter-spacing: -0.03em;

    & > :not(:last-child) {
        @media (min-width: 1025px) {
            margin-bottom: 20px;
        }

        @media (max-width: 768px) {
            margin-bottom: 1em;
        }
    }

    p {
        font-size: inherit;
    }
}

.text-extra {
    @include adaptive-value("font-size", 90, 30, 1);
}

.extra-padding {
    @include adaptive-value("padding-bottom", 150, 50, 1);
}

.width-50 {
    @media (min-width: 1025px) {
        max-width: 50%;
    }
}

.result-item {
    display: block;
    width: 100vw;
    margin-left: -16px;
    overflow: hidden;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $black, $alpha: 0.5);
        z-index: 1;
    }

    h3 {
        color: $white;
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 1;

        @media (max-width: 1024px) {
            top: 28px;
            left: 16px;
        }
    }

    @media (any-hover: hover) {
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    img {
        transition: transform 0.3s ease 0s;

        min-height: 400px;
        object-fit: cover;
    }
}

.section:has(.director) {
    .section__body {
        position: relative;
    }

    h2 {
        line-height: 1.2;
    }
}

.director {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (min-width: 1025px) {
        position: absolute;
        top: 0;
        left: 0;
    }

    @media (max-width: 1024px) {
        margin-top: 20px;
    }

    .icon {
        width: 70px;
        height: 70px;
        flex: 0 0 auto;
        border-radius: 50%;
        overflow: hidden;

        img,
        picture {
            width: 100%;
            height: 100%;
        }
    }
}

.services-seo {
    .service-card__box ol {
        margin-top: 40px;

        @media (max-width: 1024px) {
            margin-top: 20px;
            font-size: 14px;
        }

        li {
            padding: 10px 10px 10px 20px;
            border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);
            position: relative;

            &:before {
                position: absolute;
                content: "\2713";
                left: 0;
                top: 0.5em;
            }
        }
    }
}

.cases {
}

.case-slide {
    counter-increment: faq-counter;

    .grid {
    }

    label {
        font-size: 12px;
        font-family: JetBrainsMono;
        line-height: 1;
        display: block;
        flex: 0 0 auto;

        margin-top: 2px;

        &:before {
            content: "/  0" counter(faq-counter);
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    // .case-slide__descr

    &__descr {
        padding-right: 20px;

        @media (max-width: 1024px) {
            padding-right: 0;
            margin-bottom: 20px;
        }
    }

    // .case-slide__img

    &__img {
        grid-column: span 2;

        .image {
        }

        p {
            margin-top: 1em;
            @include adaptive-value("font-size", 20, 14, 1);
        }
    }
}
